.show_details {
  height: 600px;
  margin: 2rem auto;
  width: 1100px;
  overflow: hidden;
  border-radius: 14px;
  box-shadow: 0 2px 18px rgba(0, 0, 0, 0.25), 0 16px 16px rgba(0, 0, 0, 0.25);
}
.info_show_section {
  width: 100%;
  height: 100%;
  z-index: 2;
  border-radius: 10px;
  padding-left: 90px;
}

.grid_show {
  display: grid;
  grid-template-columns: auto auto;
}
.info_show_section .show_header {
  height: 40%;
  padding: 25px;
}
.show-header .show-title {
  font-weight: 400;
}
.show-header .show_year {
  margin-left: 40px;
}
.show_header .type {
  color: #cee4fd;
  margin-left: 10px;
}
.show_header .show_image {
  border-radius: 10px;
  float: left;
  margin-right: 20px;
  height: 220px;
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.5);
}

.info_show_section .show_desc {
  padding: 25px;
  margin-top: 80px;
  height: 70%;
  color: #cfd6e1;
}

.show_desc button {
  margin-right: 20px;
  margin-top: 20px;
}

.big_image {
  border-radius: 11px;
  margin-right: 20px;
  margin-top: 20px;
  max-height: 530px;
  width: 360px;
}

@media (min-width: 792px) and (max-width: 1024px) {
  .show_desc {
    width: 100%;
  }
  .info_show_section .show_desc {
    margin-top: 20px;
  }
  .show_header {
    width: 90%;
  }
  .info_show_section {
    padding-left: 10px;
  }
  .big_image {
    background-position: -100% 10% !important;
    margin-left: 90px;
    margin-bottom: 10px;
  }
  .show_details {
    width: 95%;
    margin: 70px auto;
    min-height: 350px;
    height: auto;
  }
}
@media screen and (max-width: 791px) {
  .show_details {
    width: 95%;
    margin: 70px auto;
    min-height: 350px;
    height: auto;
  }
  .grid_show {
    display: flex;
    flex-direction: column;
  }
  .info_show_section {
    display: inline-grid;
    padding-left: 10px;
  }
  .big_image {
    width: 60%;
    background-position: 50% 50% !important;
    margin-left: 140px;
    margin-bottom: 10px;
  }

  .show_header {
    width: 90%;
    margin-top: 25px;
  }

  .info_show_section .show_desc {
    width: 100%;
    margin-top: 20px;
  }
}
@media (min-width: 416px) and (max-width: 613px) {
  .show_details {
    width: 95%;
    margin: 70px auto;
    min-height: 350px;
    height: auto;
  }
  .grid_show {
    display: flex;
    flex-direction: column;
  }
  .info_show_section {
    display: inline-grid;
    padding-left: 10px;
  }
  .big_image {
    width: 60%;
    background-position: 50% 50% !important;
    margin-left: 80px;
    margin-bottom: 10px;
  }

  .show_header {
    width: 90%;
    margin-top: 25px;
  }

  .info_show_section .show_desc {
    width: 100%;
    margin-top: 20px;
  }
}
@media screen and (max-width: 411px) {
  .show_details {
    width: 95%;
    margin: 70px auto;
    min-height: 350px;
    height: auto;
  }
  .grid_show {
    display: flex;
    flex-direction: column;
  }
  .info_show_section {
    display: inline-grid;
    padding-left: 10px;
  }
  .big_image {
    width: 70%;
    background-position: 50% 50% !important;
    margin-left: 35px;
    margin-bottom: 10px;
  }

  .show_header {
    width: 90%;
    margin-top: 25px;
  }

  .info_show_section .show_desc {
    width: 100%;
    margin-top: 20px;
  }
}

@media screen and (min-width: 1025px) {
  .show_desc {
    width: 70%;
  }
  .info_show_section .show_desc {
    margin-top: 20px;
  }
  .show_header {
    width: 90%;
  }
  .info_show_section {
    padding-left: 10px;
  }
  .big_image {
    background-position: -100% 10% !important;
  }
}
