.row .row__posters {
  display: flex;
  overflow-x: scroll;
  padding: 10px;
  flex-direction: row;
  max-width: 90.1rem;
  margin-left: 90px;
}
.row__posters::-webkit-scrollbar {
  display: none;
}
.show__poster {
  margin-right: 10px;
  object-fit: contain;
}
.show__poster img {
  height: 200px;
  border-radius: 10px;
  width: 134px;
}

.show__poster img:hover {
  transition: transform 450ms;
  transform: scale(1.08);
}

.row {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 500px) {
  .row .row__posters {
    margin-left: 20px;
  }
}
