.posters_container {
  display: flex;
  padding: 10px;
  justify-content: space-evenly;
  margin-left: 180px;
  border-radius: 10px;
  overflow-y: hidden;
  padding-right: 20px;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 1430px;
  background-image: linear-gradient(0.35turn, #3f87a6, #ebf8e1, #f69d3c);
  object-fit: contain;
}
.posters_container h2 {
  margin-left: 70px;
  align-items: center;
  text-shadow: 0 3px black;
}

.posters_container .row_poster {
  height: 120px;
  border-radius: 10px;
  margin-right: 25px;
}

@media screen and (max-width: 499px) {
  .posters_container h2 {
    margin-left: 10px;
    text-align: center;
  }
  .posters_container {
    margin-left: 20px;
    width: 400px;
    justify-content: space-around;
    flex-direction: column;
  }
  .posters_container .row_poster {
    height: 90px;
    margin-right: 15px;
  }
}

@media (min-width: 500px) {
  .posters_container {
    margin-left: 30px;
    position: static;
    width: 450px;
    justify-content: space-around;
    flex-direction: column;
  }
  .posters_container h2 {
    margin-left: 20px;
  }
}

@media (min-width: 551px) and (max-width: 767px) {
  .posters_container {
    margin-left: 30px;
    position: static;
    width: 600px;
    justify-content: space-around;
    flex-direction: column;
  }
  .posters_container h2 {
    margin-left: 20px;
  }
}
@media screen and (min-width: 768px) {
  .posters_container {
    margin-left: 30px;
    width: 700px;
  }
}

@media screen and (min-width: 1000px) {
  .posters_container {
    width: 950px;
  }
}

@media screen and (min-width: 1300px) {
  .posters_container {
    margin-left: 110px;
    width: 1260px;
    flex-direction: row;
  }
}
@media screen and (min-width: 1369px) {
  .posters_container {
    margin-left: 200px;
    width: 1260px;
    flex-direction: row;
  }
}
