.page__header {
  width: auto;
  height: 5rem;
  display: flex;
  padding: 0 10%;
  justify-content: space-between;
  align-items: center;
  background-color: #3d1daf;
}
.page__header nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.page__header ul {
  display: flex;
  order: 1;
  justify-content: center;
  width: 100%;
  margin-top: 10px;
  color: white;
}
.profile {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-top: 8px;
}

.profile span {
  margin-right: 5px;
}

.page__header li {
  margin-right: 15px;
}

.page__header a {
  text-decoration: none;
  color: #88dfdf;
}

.page__header a:hover,
.page__header a:active,
.page__header a.active {
  color: white;
}

@media screen and (max-width: 768px) {
  .logo {
    width: 150px;
  }
  .page__header {
    justify-content: space-around;
    padding: 0;
  }
  .page__header ul {
    display: flex;
    flex-direction: column;
  }
}
